* {
	margin: 0;
	padding: 0;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Sego UI Symbol";
	font-size: 14px;
	background: #eee;
	color: #444;
}
a {
	color: #146de0;
	cursor: pointer;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.title {
	text-align: center;
}
.logo {
	margin-top: -5px;
	margin-right: 30px;
	margin-bottom: 15px;
	display: inline-block;
	vertical-align: middle;
	width: 0;
}
.logo .handle {
	margin-left: -3px;
	border-style: solid;
	border-width: 2px 0px 8px 7px;
	border-color: transparent transparent transparent #cacaca;
}
.logo .lid {
	margin-bottom: -20px;
	margin-left: 13px;
	border-style: solid;
	border-width: 5px 0px 7px 5px;
	border-color: transparent transparent transparent #cacaca;
}
.logo .lantern {
	margin-left: -5px;
	border-style: solid;
	border-width: 15px 15px 35px 0px;
	border-color: transparent #cacaca transparent transparent;
}
h1 {
	margin-bottom: 15px;
}
h3 {
	margin-top: 10px;
}
.accordion {
	cursor: pointer;
	font-style: italic;
}
.accordion-open:before {
	content: '-';
	margin-right: 10px;
}
.accordion-closed:before {
	content: '+';
	margin-right: 10px;
}
.accordion:hover {
	color: #8f8f8f;
}
.tree-header {
	margin-top: 15px;
}
ul.tree {
	margin-left: 30px;
}
ul.tree li {
	list-style: none;
}
.left {
	float: left;
}
.right {
	float: right;
}
.muted {
	color: #9f9f9f;
}
.pill {
	display: inline-block;
	text-align: center;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	background: #61a0ea;
	color: #fff;
	border-radius: 25px;
}
.pill:hover {
	text-decoration: none;
	background: #5090d9;
}
.panel + .panel {
	margin-top: 15px;
}
.panel {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.panel-header {
	border-bottom: solid 1px #e4e4e4;
}
.panel-header h3 {
	padding: 10px;
	font-weight: 700;
}
.panel .panel-body {
	padding: 15px;
}
.panel .panel-row {
	overflow: auto;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
.panel-row + .panel-row {
	border-top: solid 1px #e4e4e4;
}
.content {
	margin: 0 auto;
	max-width: 800px;
	padding: 20px;
}
.col-75 {
	width: 75%;
	box-sizing: border-box;
}
.col-25 {
	width: 25%;
	box-sizing: border-box;
}
.col-left {
	float: left;
	padding-right: 5px;
}
.col-right {
	float: right;
	padding-left: 5px;
}
.overflow {
	overflow: auto;
	padding-bottom: 5px;
}
@media (max-width: 1100px) {
	.col-75 {
		margin-bottom: 10px;
		width: 100%;
	}

	.col-25 {
		margin-bottom: 10px;
		width: 100%;
	}

	.col-left {
		padding-right: 0px;
		float: none;
	}

	.col-right {
		padding-left: 0px;
		float: none;
	}
}
